
@import url("w3.css");
@import url("font-awesome.min.css");

body {
	background-image: url("../img/bg.png");
}

#main {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	color: #22303e  ;
}

@media screen and (max-width: 1000px) {
	#main {
		width: 100%;
	}
}

@media screen and (min-width: 1000px) {
	#main {
		margin-top: 16px !important;
		margin-bottom: 16px !important;
	}
}

img[alt=AboutLogo] { 
	float: left;
}

img[alt=BlogImage] {
	max-width: 300;
	max-height: 300;
	float: right;
	padding: 5;
}

img {
	max-width: 100%;
}

table {
	border:1px solid #ddd!important
	w3-table
	border-collapse:collapse;
	border-spacing:0;width:100%;
	display:table
}

td, th {
	border: 1px solid lightgrey;
	padding: 6px 8px;
	font-size: 20px
}

#footer-left {
	text-align: left;
}

#footer-right {
	text-align: right;
}

.post-link {
	text-decoration: none;
}

.main-navigation {
	background-color: #27ae60;
	color: #fcfcfc;
}

h3,h1,h2 {
	color: #27ae60;
	font-weight: bold;
}

code {
	overflow: auto;
	display: block;
}

.highlighter-rouge {
	display: inline;
}
