@import url("bootstrap.css");
@import url("w3.css");
@import url("font-awesome.min.css");

body {
	background-image: url("../img/bg.png");
}

#main {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}

@media screen and (max-width: 1000px) {
	#main {
		width: 100%;
	}
}

article {
	line-height: 30px;
}

img[alt=AboutLogo] { 
	float: left;
}

img[alt=BlogImage] {
	max-width: 300;
	max-height: 300;
	float: right;
	padding: 5;
}

table {
	border:1px solid #ddd!important
	w3-table
	border-collapse:collapse;
	border-spacing:0;width:100%;
	display:table
}

td, th {
	border: 1px solid lightgrey;
	padding: 6px 8px;
	font-size: 20px
}
