<a href="https://fridaysforfuture.org/september24/"><img src="/img/fff-global-strike-banner.jpg" style="width: 100%"/></a>
<footer class="w3-container w3-light-grey w3-padding-16">
	<div class="footer-icons">

		<div id="footer-left" class="text-muted">
		Copyright © Jonah Brüchert 2017 - {{ 'now' | date: "%Y" }}.
		<p>Content is available under the terms of the <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0 license</a>.</p>
		</div>

		<div id="footer-right">
		{% if site.github_username %}
		<a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github fa-fw" aria-hidden="true"></i> Github</a>
		{% endif %}
	        {% if site.mastodon_url %}
		<a href="{{ site.mastodon_url }}" target="_blank"><i class="fa fa-comments fa-fw" aria-hidden="true"></i> Mastodon</a>
		{% endif %}
		{% if site.xmpp %}
		<a href="https://i.kaidan.im/#{{ site.xmpp }}"><i class="fa fa-commenting-o" aria-hidden="true"></i> XMPP</a>
		{% endif %}
		</div>
	</div>
</footer>
