<!--Navigation-->
<div id="Nav" class="w3-bar main-navigation">
    <div class="w3-dropdown-hover">
		<button class="main-navigation w3-button">&#9776;</button>
		<div class="w3-dropdown-content w3-bar-block w3-card-4">
			<a class="w3-bar-item w3-button" href="{{ site.baseurl }}/">Blog</a>
			<a class="w3-bar-item w3-button" href="{{ "/talks" | prepend: site.baseurl }}">Talks</a>
			<a class="w3-bar-item w3-button" href="{{ "/about" | prepend: site.baseurl }}">Contact</a>
			<a class="w3-bar-item w3-button" href="{{ "/licenses" | prepend: site.baseurl }}">Credits</a>
		</div>
	</div>
</div>
