<!--Navigation-->
<div class="w3-sidebar w3-card-4 w3-animate-opacity" id="mySidebar">
	<div class="w3-bar w3-blue">
		<span class="w3-bar-item w3-padding-16">Navigation</span>
		<button onclick="drawer_close()" class="w3-bar-item w3-button w3-right w3-padding-16" title="close Sidebar">&times;</button>
	</div>

	<div class="w3-bar-block">
		<a class="w3-bar-item w3-button w3-hover-light-blue" href="/">Blog</a>
	</div>

        <div class="w3-bar-block">
                <a class="w3-bar-item w3-button w3-hover-light-blue" href="/debian-pm">Debian PM</a>
        </div>


	<div class="w3-bar-block">
		<a class="w3-bar-item w3-button w3-hover-light-blue" href="/about">About me</a>
	</div>

	<div class="w3-bar-block">
		<a class="w3-bar-item w3-button w3-hover-light-blue" href="/licenses">Third-party libraries used in this website</a>
	</div>
</div>

<div id="Nav" class="w3-bar w3-card-2 w3-dark-grey w3-large">
	<button title="open Sidebar" id="openNav" class="w3-bar-item w3-left w3-button" onclick="drawer_open()">&#9776;</button>
</div>

<script>
document.getElementById("mySidebar").style.display = "none";

function drawer_open() {
	// document.getElementById("main").style.marginLeft = "180px";
	document.getElementById("mySidebar").style.width = "250px";
	document.getElementById("mySidebar").style.display = "block";
}
function drawer_close() {
	// document.getElementById("main").style.marginLeft = "0";
	document.getElementById("mySidebar").style.display = "none";
	document.getElementById("openNav").style.display = "inline-block";
}
</script>
