<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="viewport" content="width=device-width">
	<meta name="description" content="{{ site.description }}">

	<link rel="alternate" type="application/atom+xml" title="RSS Feed for jbb.ghsq.de" href="/feed.xml" />
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<meta http-equiv="Refresh" content="0; url='{{ page.url | prepend: "https://jbb.ghsq.ga/" }}'" />

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{{ "/css/w3.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/font-awesome.min.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/tomorrow.css" | prepend: site.baseurl }}">
        <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>
