---
layout: default
---

<div class="w3-container w3-padding w3-margin-bottom">
	<ul class="w3-ul">
		<li>
			<h1>Posts</h1>
		</li>
		{% for post in site.posts %}
		<li>
			<h3><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
			<span class="post-date"><p class="muted">{{ post.date | date: "%b %-d, %Y" }}<p></span>
		</li>
		{% endfor %}
		<li>
			<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
		</li>
	</ul>
</div>
