<!DOCTYPE html>
<html lang="en">

	{% include head.html %}

	<body>

		{% include header.html %}

		<div id="main" class="w3-card-2 w3-round w3-padding-4 w3-animate-opacity">
                        <div class="w3-container w3-light-grey">
                                You are looking at the version of my blog which is hosted on GitHub Pages.
                                I have moved the primary website to <a href="https://jbb.ghsq.ga/">jbb.ghsq.ga</a>.
			</div>
			<div class="wrap">
			{{ content }}
			</div>

		{% include footer.html %}

		</div>
	</body>
</html>
